* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: rgb(254, 223, 196);
}

.main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 7rem;
    font-family: 'Roboto';
}

.page-section {
    position: sticky; 
    top: 0;
    z-index: 100;
}

.head-wrapper {
    position: relative;
    width: 100%;
    height: 15vh;
    background: linear-gradient(to bottom, #656362, rgba(0,0,0,0));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65rem;
}

.head-wrapper h1{
    font-size: 4rem;
    font-family: 'Arizonia';
}

.head-wrapper a {
    font-family: 'Roboto';
    text-decoration: none;
    color: white;
}

.site-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.site-image {
    height: 5rem;
    filter: grayscale(100%) brightness(1000%);
}

.user-selection {
    position: fixed;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
}

.user-selection ul {
    display: flex;
    gap: 2rem;
}

.user-selection ul li {
    list-style: none;
}

.user-selection ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem; 
}

.sign-up-wrapper {
    padding-right: 3rem;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 20rem; 
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-bottom: 1px solid rgb(182, 171, 171);
    background: linear-gradient(to top, rgba(248, 165, 32, 0.5), rgba(0,0,0,0));
    margin-top: 2rem;
}

.image-wrapper::-webkit-scrollbar {
    display: none;
}

.image-container {
    position: relative;
    flex: 0 0 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    font-family: 'Roboto';
    scroll-snap-align: start;
    transition: transform 1.5s ease-in-out;
}

.image-container h1 {
    font-size: 3rem;
    font-weight: 500;
    justify-content: right;
}

.image-container img {
    height: 20rem;
}

.image-container p {
    font-size: 1.5rem;
    font-weight: lighter;
    font-style: italic;
    margin-top: 1.5rem;
}

.display-option-wrapper {
    display: flex;
    flex-direction: column;
}

.display-option-wrapper h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    font-family: 'Roboto';
}

.option-wrapper {
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
}

.option-wrapper button {
    position: relative;
    overflow: hidden;
    width: 25rem;
    height: 30rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.watch-button:hover .image-sunset {
    transform: scale(1.10);
}

.watch-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
    z-index: 1;
}

.watch-container h1{
    color: white;
    z-index: 10;
    font-size: 4rem;
}

.image-sunset {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease-in-out 0.35s;  
}

.end-page {
    width: 100%;
    height: 40vh;
    margin-top: 5rem;
    background: rgb(42, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.end-logo {
    display: flex;
    column-gap: 0.5rem;
}

.end-logo h1 {
    font-family: 'Arizonia';
    color: white;
    font-size: 3rem;
    top: 1.5rem;
}

.end-logo-image {
    height: 4rem;
    filter: grayscale(100%) brightness(1000%);
}


